td:nth-child(2) {
    background-color: grey!important;
}
.a-acard {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.carddiv {
    margin: 5px;
    font-size: smaller;
    width:350px;
    background-color: #00457E;
    display: inline-table;    
}
.titlerow {
    font-weight: bold;
}
.titlebg {
    /* background-color: #00457E; */
    white-space: nowrap;
    float: left;
    margin-left: 10px;
}
.selalldiv {
    background-color: gray;
    color: white;
}
.selalldiv input {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
}
.card-container {
    overflow-y: auto;
    white-space: nowrap;
    height: 665px;
    text-align: left;
}
.carddiv_inside {
    width: 348px;
}