<div class="card" style="width: 100%;">
  <div class="card-header" *ngIf="!noHeader">
    <div class="row">
      <div class="col-sm-1"><input type="checkbox" [(ngModel)]="assetchecked" class="input" (change)="checkChanged(assetdata)"></div>
      <div class="col-sm-5">Asset ID</div>
      <div class="col-sm-5">{{ assetdata.AssetID }}</div>
    </div>
  </div>
  <div class="card-body">
    <table class="table-striped assetdata">
        <tr>
            <td>Asset ID</td>
            <td>{{ assetdata.AssetID }}
              <input type="radio" name="rdbAstAssetID" class="checkbox" *ngIf="showCheckBoxes" checked="checked" [checked]="checkIfSelected(assetdata)">
            </td>
            <td *ngFor="let c of resultAssets">{{ c.AssetID }}
              <input type="radio" name="rdbAstAssetID" class="checkbox" *ngIf="showCheckBoxes" [checked]="checkIfSelected(c)"
              (change)="checkChanged(c)">
            </td>
          </tr>
          <tr>
            <td>Manufacturer</td>
            <td>{{ assetdata.Manufacturer }}</td>
            <td *ngFor="let c of resultAssets">{{ c.Manufacturer }}</td>
          </tr>
          <tr>
            <td>Model</td>
            <td>{{ assetdata.Model }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.Model }}
            </td>
          </tr>
          <tr>
            <td>Serial Number</td>
            <td>{{ assetdata.SerialNumber }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.SerialNumber }}
            </td>
          </tr>
          <tr>
            <td>Vendor Machine ID</td>
            <td>{{ assetdata.VendorMachineID }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.VendorMachineID }}
            </td>
          </tr>
          <tr>
            <td>Asset Address</td>
            <td>{{ ToAddressString(assetdata.AssetAddress) }}
            </td>
            <td *ngFor="let c of resultAssets">{{ ToAddressString(c.AssetAddress) }}
            </td>
          </tr>
          <tr>
            <td>PPTX</td>
            <td>{{ assetdata.PPTX }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.PPTX }}
            </td>
          </tr>
          <tr>
            <td>Sales Tax</td>
            <td>{{ assetdata.SalesTax }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.SalesTax }}
            </td>
          </tr>
          <tr>
            <td>Financed Amt</td>
            <td>{{ assetdata.FinancedAmt | currency }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.FinancedAmt | currency }}
            </td>
          </tr>
          <tr>
            <td>Agreement Overages Billed On</td>
            <td>{{ assetdata.AgreementOveragesBilledOn }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.AgreementOveragesBilledOn }}
            </td>
          </tr>
          <tr>
            <td>Contract Active</td>
            <td>{{ assetdata.ContractActive | yesNo }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.ContractActive | yesNo }}
            </td>
          </tr>
        </table>
  </div>
</div>