<div class="card" style="width: 100%;">
  <div class="card-header" *ngIf="!noHeader">
    <div class="row">
      <div class="col"><input type="checkbox" [(ngModel)]="assetchecked" class="input" (change)="checkChanged(assetdata)"></div>
      <div class="col">Asset ID</div>
      <div class="col">{{ assetdata.assetId }}</div>
    </div>
  </div>
  <div class="card-body">
    <table class="table-striped assetdata">
      <tr *ngIf="!changesonly">
        <td>Asset ID</td>
        <td>{{ assetdata.assetId }}
          <input type="radio" name="rdbAstAssetID" class="checkbox" *ngIf="showCheckBoxes" checked="checked" [checked]="checkIfSelected(assetdata)">
        </td>
        <td *ngFor="let c of resultAssets">{{ c.AssetID }}
          <input type="radio" name="rdbAstAssetID" class="checkbox" *ngIf="showCheckBoxes" [checked]="checkIfSelected(c)"
            (change)="checkChanged(c)">
        </td>
      </tr>
      <tr>
        <td><b>Manufacturer</b></td>
        <td>{{ assetdata.manufacturerDesc }}</td>
        <td *ngFor="let c of resultAssets">{{ c.manufacturerDesc }}</td>
      </tr>
      <tr>
        <td><b>Model</b></td>
        <td>{{ assetdata.assetModel }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.assetModel }}
        </td>
      </tr>
      <tr>
        <td><b>Serial Number</b></td>
        <td>{{ assetdata.serialNumber }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.serialNumber }}
        </td>
      </tr>
      <tr>
        <td><b>Vendor Machine ID</b></td>
        <td>{{ assetdata.vendorMachineId }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.vendorMachineId }}
        </td>
      </tr>
      <tr>
        <td><b>Asset Address</b></td>
        <td>{{ ToAddressString(assetdata) }}
        </td>
        <td *ngFor="let c of resultAssets">{{ ToAddressString(c) }}
        </td>
      </tr>
      <tr *ngIf="!changesonly">
        <td>PPTX</td>
        <td>{{ assetdata.propertyTaxStatusId }} {{ assetdata.propertyTaxStatusDescription }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.propertyTaxStatusId }} {{ c.propertyTaxStatusDescription }}
        </td>
      </tr>
      <tr *ngIf="!changesonly">
        <td>Sales Tax</td>
        <td>{{ assetdata.stateTaxRate }}
            <button type="button" class="btn-sm btn-primary" (click)="showAddress(assetdata)"><i class="fas fa-info-circle"></i></button>
        </td>
        <td *ngFor="let c of resultAssets">{{ c.stateTaxRate }}
            <button type="button" class="btn-sm btn-primary" (click)="showAddress(c)"><i class="fas fa-info-circle"></i></button>
        </td>
      </tr>
      <!-- <tr>
            <td>Financed Amt</td>
            <td>{{ assetdata.financedAmount | currency }}
            </td>
            <td *ngFor="let c of resultAssets">{{ c.financedAmount | currency }}
            </td>
          </tr> -->
      <tr *ngIf="!changesonly">
        <td>Asset Cost</td>
        <td>{{ assetdata.listPrice | currency }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.listPrice | currency }}
        </td>
      </tr>
      <tr *ngIf="!changesonly">
        <td>Final Asset Cost</td>
        <td>{{ assetdata.assetCost | currency }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.assetCost | currency }}
        </td>
      </tr>
      <tr *ngIf="!changesonly">
        <td>Agreement Overages Billed On</td>
        <td>{{ assetdata.overageContractId }}
        </td>
        <td *ngFor="let c of resultAssets">{{ c.overageContractId }}
        </td>
      </tr>
      <!-- <tr>
        <td>Contract Active</td>
        <td>{{ assetdata.activeContract | yesNo }}
        </td>
        <td *ngFor="let c of resultAssets">{{c.activeContract}} {{ c.activeContract | yesNo }}
        </td>
      </tr> -->
    </table>
  </div>
</div>