<div class="container-fluid freezediv">
  <h2 class="text-primary" mat-dialog-title>{{description}}</h2>
  <mat-dialog-content>
    <table class="table table-striped">
      <tr>
        <th>Description</th>
        <th>Origianl</th>
        <th>Modifications</th>
      </tr>
      <tr>
        <td>Application Number</td>
        <td>{{ orignalContract.ApplicationNumber }}</td>
        <td [ngClass]="{'modified': orignalContract.ApplicationNumber !== workingContract.ApplicationNumber}">{{ workingContract.ApplicationNumber }}</td>
      </tr>
      <tr>
        <td>Master Agreement Number</td>
        <td>{{ orignalContract.MasterAgreementNumber }}</td>
        <td [ngClass]="{'modified': orignalContract.MasterAgreementNumber !== workingContract.MasterAgreementNumber}">{{ workingContract.MasterAgreementNumber }}</td>
      </tr>
      <tr>
        <td>Private Label</td>
        <td>{{ orignalContract.PrivateLabel | yesNo }}</td>
        <td [ngClass]="{'modified': orignalContract.PrivateLabel !== workingContract.PrivateLabel}">{{ workingContract.PrivateLabel | yesNo }}</td>
      </tr>
      <tr>
        <td>Program Type</td>
        <td>{{ orignalContract.ProgramType }}</td>
        <td [ngClass]="{'modified': orignalContract.ProgramType !== workingContract.ProgramType}">{{ workingContract.ProgramType }}</td>
      </tr>
      <tr>
        <td>Relationship Code</td>
        <td>{{ orignalContract.RelationshipCode }}</td>
        <td [ngClass]="{'modified': orignalContract.RelationshipCode !== workingContract.RelationshipCode}">{{ workingContract.RelationshipCode }}</td>
      </tr>
      <tr>
        <td>Lessee Name</td>
        <td>{{ orignalContract.LesseeName }}</td>
        <td [ngClass]="{'modified': orignalContract.LesseeName !== workingContract.LesseeName}">{{ workingContract.LesseeName }}</td>
      </tr>
      <tr>
        <td>Billing Address</td>
        <td>
          <div [innerHTML]="ToAddressString(orignalContract.BillingAddress)"></div>
        </td>
        <td [ngClass]="{'modified': orignalContract.BillingAddress !== workingContract.BillingAddress}">
          <div [innerHTML]="ToAddressString(workingContract.BillingAddress)"></div>
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ orignalContract.Phone }}</td>
        <td [ngClass]="{'modified': orignalContract.Phone !== workingContract.Phone}">{{ workingContract.Phone }}</td>
      </tr>
      <tr>
        <td>Fax</td>
        <td>{{ orignalContract.Fax }}</td>
        <td [ngClass]="{'modified': orignalContract.Fax !== workingContract.Fax}">{{ workingContract.Fax }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ orignalContract.Email }}</td>
        <td [ngClass]="{'modified': orignalContract.Email !== workingContract.Email}">{{ workingContract.Email }}</td>
      </tr>
      <tr>
        <td>Signer</td>
        <td>{{ orignalContract.Signer }}</td>
        <td [ngClass]="{'modified': orignalContract.Signer !== workingContract.Signer}">{{ workingContract.Signer }}</td>
      </tr>
      <tr>
        <td>Document Profile</td>
        <td>{{ orignalContract.DocumentProfile }}</td>
        <td [ngClass]="{'modified': orignalContract.DocumentProfile !== workingContract.DocumentProfile}">{{ workingContract.DocumentProfile }}</td>
      </tr>
      <tr>
        <td>Invoice Description</td>
        <td>{{ orignalContract.InvoiceDescription }}</td>
        <td [ngClass]="{'modified': orignalContract.InvoiceDescription !== workingContract.InvoiceDescription}">{{ workingContract.InvoiceDescription }}</td>
      </tr>
      <tr>
        <td>Collateral Code</td>
        <td>{{ orignalContract.CollateralCode }}</td>
        <td [ngClass]="{'modified': orignalContract.CollateralCode !== workingContract.CollateralCode}">{{ workingContract.CollateralCode }}</td>
      </tr>
      <tr>
        <td>Indirect Billing</td>
        <td>{{ orignalContract.IndirectBilling }}</td>
        <td [ngClass]="{'modified': orignalContract.IndirectBilling !== workingContract.IndirectBilling}">{{ workingContract.IndirectBilling }}</td>
      </tr>
      <tr>
        <td>Invoice Code</td>
        <td>{{ orignalContract.InvoiceCode }}</td>
        <td [ngClass]="{'modified': orignalContract.InvoiceCode !== workingContract.InvoiceCode}">{{ workingContract.InvoiceCode }}</td>
      </tr>
      <tr>
        <td>Late Charge Exempt</td>
        <td>{{ orignalContract.LateChargeExempt | yesNo }}</td>
        <td [ngClass]="{'modified': orignalContract.LateChargeExempt !== workingContract.LateChargeExempt}">{{ workingContract.LateChargeExempt | yesNo }}</td>
      </tr>
      <tr>
        <td>Late Charge % of Pmt</td>
        <td>{{ orignalContract.LateChargePercofPmt }}</td>
        <td [ngClass]="{'modified': orignalContract.LateChargePercofPmt !== workingContract.LateChargePercofPmt}">{{ workingContract.LateChargePercofPmt }}</td>
      </tr>
      <tr>
        <td>Lead Days</td>
        <td>{{ orignalContract.LeadDays }}</td>
        <td [ngClass]="{'modified': orignalContract.LeadDays !== workingContract.LeadDays}">{{ workingContract.LeadDays }}</td>
      </tr>
      <tr>
        <td>Grace Period</td>
        <td>{{ orignalContract.GracePeriod }}</td>
        <td [ngClass]="{'modified': orignalContract.GracePeriod !== workingContract.GracePeriod}">{{ workingContract.GracePeriod }}</td>
      </tr>
      <tr>
        <td>Minimum Late Charge ($)</td>
        <td>{{ orignalContract.MinimumLateCharge }}</td>
        <td [ngClass]="{'modified': orignalContract.MinimumLateCharge !== workingContract.MinimumLateCharge}">{{ workingContract.MinimumLateCharge }}</td>
      </tr>
      <tr>
        <td>Maximum Late Charge ($)</td>
        <td>{{ orignalContract.MaximumLateCharge }}</td>
        <td [ngClass]="{'modified': orignalContract.MaximumLateCharge !== workingContract.MaximumLateCharge}">{{ workingContract.MaximumLateCharge }}</td>
      </tr>
      <tr>
        <td>Vendor Contract ID</td>
        <td>{{ orignalContract.VendorContractID }}</td>
        <td [ngClass]="{'modified': orignalContract.VendorContractID !== workingContract.VendorContractID}">{{ workingContract.VendorContractID }}</td>
      </tr>
      <tr>
        <td>Vendor Customer ID</td>
        <td>{{ orignalContract.VendorCustomerID }}</td>
        <td [ngClass]="{'modified': orignalContract.VendorCustomerID !== workingContract.VendorCustomerID}">{{ workingContract.VendorCustomerID }}</td>
      </tr>
      <tr>
        <td>Renewal Term</td>
        <td>{{ orignalContract.RenewalTerm }}</td>        
        <td [ngClass]="{'modified': orignalContract.RenewalTerm !== workingContract.RenewalTerm}">{{ workingContract.RenewalTerm }}</td>
      </tr>
    </table>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions *ngIf="!hideActions">
    <button class="button btn btn-sm btn-success" (click)="accept()"><span class="fas fa-check-circle"></span><span>&nbsp;PROCESS DATA TRANSFER</span></button>
    <button class="button btn btn-sm btn-danger" (click)="cancel()"><span class=" fas fa-times-circle"></span><span>&nbsp;CANCEL DATA TRANSFER</span></button>
  </mat-dialog-actions>
</div>