<div class="container-fluid freezediv">
  <h2 class="text-primary" mat-dialog-title>{{description}}</h2>
  <mat-dialog-content>
    <table class="table table-striped">
      <tr>
        <th>Description</th>
        <th>Original</th>
        <th>Modifications</th>
      </tr>
      <tr>
        <td>Application Number</td>
        <td>{{ orignalContract.applicationId }}</td>
        <td [ngClass]="{'modified': orignalContract.applicationId !== workingContract.applicationId}">{{ workingContract.applicationId }}</td>
      </tr>
      <tr>
        <td>Master Agreement Number</td>
        <td>{{ orignalContract.masterAgreementNumber }}</td>
        <td [ngClass]="{'modified': orignalContract.masterAgreementNumber !== workingContract.masterAgreementNumber}">{{ workingContract.masterAgreementNumber }}</td>
      </tr>
      <tr>
        <td>Private Label</td>
        <td>{{ orignalContract.privateLabel | yesNo }}</td>
        <td [ngClass]="{'modified': orignalContract.privateLabel !== workingContract.privateLabel}">{{ workingContract.privateLabel | yesNo }}</td>
      </tr>
      <tr>
        <td>Program Type</td>
        <td>{{ orignalContract.programTypeDesc }}</td>
        <td [ngClass]="{'modified': orignalContract.programTypeDesc !== workingContract.programTypeDesc}">{{ workingContract.programTypeDesc }}</td>
      </tr>
      <tr>
        <td>Relationship Code</td>
        <td>{{ orignalContract.relationshipDesc }}</td>
        <td [ngClass]="{'modified': orignalContract.relationshipDesc !== workingContract.relationshipDesc}">{{ workingContract.relationshipDesc }}</td>
      </tr>
      <tr>
        <td>Lessee Name</td>
        <td>{{ orignalContract.billToName }}</td>
        <td [ngClass]="{'modified': orignalContract.billToName !== workingContract.billToName}">{{ workingContract.billToName }}</td>
      </tr>
      <tr>
        <td>Billing Address</td>
        <td>
          <div [innerHTML]="ToAddressString(orignalContract)"></div>
        </td>
        <td [ngClass]="{'modified': compareAddress(orignalContract, workingContract)}">
          <div [innerHTML]="ToAddressString(workingContract)"></div>
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ orignalContract.lesseePhone }}</td>
        <td [ngClass]="{'modified': orignalContract.lesseePhone !== workingContract.lesseePhone}">{{ workingContract.lesseePhone }}</td>
      </tr>
      <tr>
        <td>Fax</td>
        <td>{{ orignalContract.lesseeFax }}</td>
        <td [ngClass]="{'modified': orignalContract.lesseeFax !== workingContract.lesseeFax}">{{ workingContract.lesseeFax }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ orignalContract.collectionContactEmail }}</td>
        <td [ngClass]="{'modified': orignalContract.collectionContactEmail !== workingContract.collectionContactEmail}">{{ workingContract.collectionContactEmail }}</td>
      </tr>
      <tr>
        <td>Signer</td>
        <td>{{ orignalContract.requiredSigner }}</td>
        <td [ngClass]="{'modified': orignalContract.requiredSigner !== workingContract.requiredSigner}">{{ workingContract.requiredSigner }}</td>
      </tr>
      <tr>
        <td>Document Profile</td>
        <td>{{ orignalContract.documentProfileName }}  {{ orignalContract.documentProfileFooter }}</td>
        <td [ngClass]="{'modified': orignalContract.documentProfileName !== workingContract.documentProfileName}">{{ workingContract.documentProfileName }} {{ workingContract.documentProfileFooter }} </td>
      </tr>
      <tr>
        <td>Invoice Description</td>
        <td>{{ orignalContract.invoiceDescription }}</td>
        <td [ngClass]="{'modified': orignalContract.invoiceDescription !== workingContract.invoiceDescription}">{{ workingContract.invoiceDescription }}</td>
      </tr>
      <tr>
        <td>Collateral Code</td>
        <td>{{ orignalContract.collateralCodeDesc }}</td>
        <td [ngClass]="{'modified': orignalContract.collateralCodeDesc !== workingContract.collateralCodeDesc}">{{ workingContract.collateralCodeDesc }}</td>
      </tr>
      <tr>
        <td>Indirect Billing</td>
        <td>{{ orignalContract.indirectBilling }}</td>
        <td [ngClass]="{'modified': orignalContract.indirectBilling !== workingContract.indirectBilling}">{{ workingContract.indirectBilling }}</td>
      </tr>
      <tr>
        <td>Invoice Code</td>
        <td>{{ orignalContract.invoiceCode }}</td>
        <td [ngClass]="{'modified': orignalContract.invoiceCodeDesc !== workingContract.invoiceCodeDesc}">{{ workingContract.invoiceCode }}</td>
      </tr>
      <tr>
        <td>Late Charge Exempt</td>
        <td>{{ orignalContract.lateChargeExempt | yesNo }}</td>
        <td [ngClass]="{'modified': orignalContract.lateChargeExempt !== workingContract.lateChargeExempt}">{{ workingContract.lateChargeExempt | yesNo }}</td>
      </tr>
      <tr>
        <td>Late Charge % of Pmt</td>
        <td>{{ orignalContract.lateChargeRate | percent:'1.2' }}</td>
        <td [ngClass]="{'modified': orignalContract.lateChargeRate !== workingContract.lateChargeRate}">{{ workingContract.lateChargeRate | percent:'1.2' }}</td>
      </tr>
      <tr>
        <td>Lead Days</td>
        <td>{{ orignalContract.leadDays }}</td>
        <td [ngClass]="{'modified': orignalContract.leadDays !== workingContract.leadDays}">{{ workingContract.leadDays }}</td>
      </tr>
      <tr>
        <td>Grace Period</td>
        <td>{{ orignalContract.gracePeriod }}</td>
        <td [ngClass]="{'modified': orignalContract.gracePeriod !== workingContract.gracePeriod}">{{ workingContract.gracePeriod }}</td>
      </tr>
      <tr>
        <td>Minimum Late Charge ($)</td>
        <td>{{ orignalContract.lateChargeMin }}</td>
        <td [ngClass]="{'modified': orignalContract.lateChargeMin !== workingContract.lateChargeMin}">{{ workingContract.lateChargeMin }}</td>
      </tr>
      <tr>
        <td>Maximum Late Charge ($)</td>
        <td>{{ orignalContract.lateChargeMax }}</td>
        <td [ngClass]="{'modified': orignalContract.lateChargeMax !== workingContract.lateChargeMax}">{{ workingContract.lateChargeMax }}</td>
      </tr>
      <tr>
        <td>Vendor Contract ID</td>
        <td>{{ orignalContract.vendorContractNumber }}</td>
        <td [ngClass]="{'modified': orignalContract.vendorContractNumber !== workingContract.vendorContractNumber}">{{ workingContract.vendorContractNumber }}</td>
      </tr>
      <tr>
        <td>Vendor Customer ID</td>
        <td>{{ orignalContract.vendorCustomerNumber }}</td>
        <td [ngClass]="{'modified': orignalContract.vendorCustomerNumber !== workingContract.vendorCustomerNumber}">{{ workingContract.vendorCustomerNumber }}</td>
      </tr>
      <tr>
        <td>Renewal Term</td>
        <td>{{ orignalContract.renewalTermLength }}</td>        
        <td [ngClass]="{'modified': orignalContract.renewalTermLength !== workingContract.renewalTermLength}">{{ workingContract.renewalTermLength }}</td>
      </tr>
    </table>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions *ngIf="!hideActions">
    <button class="button btn btn-sm btn-success" (click)="accept()"><span class="fas fa-check-circle"></span><span>&nbsp;PROCESS DATA TRANSFER</span></button>
    <button class="button btn btn-sm btn-danger" (click)="cancel()"><span class=" fas fa-times-circle"></span><span>&nbsp;CANCEL DATA TRANSFER</span></button>
  </mat-dialog-actions>
</div>