<!-- Unknown mapping
MasterAgreementNumber
DealerNumber
InvoicingAs
Phone
Fax
Email
Signer
PG
PGRequired
POInfoleaseFlag
LateChargePercofPmt
PermanentExclusionReason
VendorContractID
CMTComments
AssetDetail
AssetLevelBilling
Consolidated
CurrentOnly
ElectronicInvoice
-->
<div class="container-fluid freezediv">
  <table class="table table-striped">
    <tr class="headerrow">
      <td>Description</td>
      <td style="color: #ffffff!important">New Application
        <input type="radio" name="rdbConAllApplicationNumber" class="checkbox hidden" *ngIf="showCheckBoxes" [checked]="checkIfSelected(workingContract)">
      </td>
      <td *ngFor="let c of resultContracts">
        <input type="radio" name="rdbConAllApplicationNumber" class="checkbox" *ngIf="showCheckBoxes"
        (click)="selectAllApplication(c)">
        <label>Select All</label>
      </td>
    </tr>
    <tr>
      <td>Application Number</td>
      <td>{{ workingContract.applicationId }}
      </td>
      <td *ngFor="let c of resultContracts">{{ c.applicationId }}
      </td>
    </tr>
    <tr>
      <td>Master Agreement Number</td>
      <td>{{ workingContract.MasterAgreementNumber }}
          <input type="radio" name="rdbConMasterAgreementNumber" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'MasterAgreementNumber')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.MasterAgreementNumber }}
        <input type="radio" name="rdbConMasterAgreementNumber" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'MasterAgreementNumber')">
      </td>
    </tr>
    <tr>
      <td>Contract Number</td>
      <td>{{ workingContract.contractId }}
      </td>
      <td *ngFor="let c of resultContracts">{{ c.contractId }}
      </td>
    </tr>
    <tr>
      <td>Dealer Number</td>
      <td>{{ workingContract.DealerNumber }}
      </td>
      <td *ngFor="let c of resultContracts">{{ c.DealerNumber }}
      </td>
    </tr>
    <tr>
      <td>Invoicing As</td>
      <td>{{ workingContract.InvoicingAs }}
      </td>
      <td *ngFor="let c of resultContracts">{{ c.InvoicingAs }}
      </td>
    </tr>
    <tr>
      <td>Private Label</td>
      <td>{{ workingContract.privateLabel | yesNo }}
        <input type="radio" name="rdbConPrivateLabel" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'privateLabel')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.privateLabel | yesNo }}
        <input type="radio" name="rdbConPrivateLabel" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'privateLabel')">
      </td>
    </tr>
    <tr>
      <td>Program Type</td>
      <td>{{ workingContract.programTypeDesc }}
        <input type="radio" name="rdbConProgramType" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChangedMul(workingContract,['programTypeId', 'programTypeDesc'])">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.programTypeDesc }}
        <input type="radio" name="rdbConProgramType" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChangedMul(c,['programTypeId', 'programTypeDesc'])">
      </td>
    </tr>
    <tr>
      <td>Relationship Code</td>
      <td>{{ workingContract.relationshipId }}
        <input type="radio" name="rdbConRelationshipCode" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'relationshipId')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.relationshipId }}
        <input type="radio" name="rdbConRelationshipCode" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'relationshipId')">
      </td>
    </tr>
    <tr>
      <td>Lessee Name</td>
      <td>{{ workingContract.lesseeName }}
        <input type="radio" name="rdbConLesseeName" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'lesseeName')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.lesseeName }}
        <input type="radio" name="rdbConLesseeName" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'lesseeName')">
      </td>
    </tr>
    <tr>
      <td>Billing Address</td>
      <td><div [innerHTML]="workingContract.BillingAddress"></div>
        <input type="radio" name="rdbConBillingAddress" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChangedBillingAddress(workingContract)">
      </td>
      <td *ngFor="let c of resultContracts"><div [innerHTML]="c.BillingAddress"></div>
        <input type="radio" name="rdbConBillingAddress" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChangedBillingAddress(c)">
        <!--  (ngModelChange)="propertyChanged(c,'BillingAddress')" -->
      </td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ workingContract.Phone }}
        <input type="radio" name="rdbConPhone" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'Phone')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.Phone }}
        <input type="radio" name="rdbConPhone" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'Phone')">
      </td>
    </tr>
    <tr>
      <td>Fax</td>
      <td>{{ workingContract.Fax }}
        <input type="radio" name="rdbConFax" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'Fax')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.Fax }}
        <input type="radio" name="rdbConFax" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'Fax')">
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ workingContract.Email }}
        <input type="radio" name="rdbConEmail" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'Email')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.Email }}
        <input type="radio" name="rdbConEmail" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'Email')">
      </td>
    </tr>
    <tr>
      <td>Signer</td>
      <td>{{ workingContract.Signer }}
          <input type="radio" name="rdbConSigner" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'Signer')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.Signer }}
        <input type="radio" name="rdbConSigner" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'Signer')">
      </td>
    </tr>
    <tr>
      <td>PG</td>
      <td>{{ workingContract.PG }}</td>
      <td *ngFor="let c of resultContracts">{{ c.PG }}</td>
    </tr>
    <tr>
      <td>PG Required</td>
      <td>{{ workingContract.PGRequired | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.PGRequired | yesNo }}</td>
    </tr>
    <tr>
      <td>Invoice Due Day</td>
      <td>{{ workingContract.invoiceDueDay }}</td>
      <td *ngFor="let c of resultContracts">{{ c.invoiceDueDay }}</td>
    </tr>
    <tr>
      <td>Lease Type</td>
      <td>{{ workingContract.leaseType }}</td>
      <td *ngFor="let c of resultContracts">{{ c.leaseType }}</td>
    </tr>
    <tr>
      <td>Term</td>
      <td>{{ workingContract.termLength }}</td>
      <td *ngFor="let c of resultContracts">{{ c.termLength }}</td>
    </tr>
    <tr>
      <td>Purchase Option</td>
      <td>{{ workingContract.purchaseOptionId }}</td>
      <td *ngFor="let c of resultContracts">{{ c.purchaseOptionId }}</td>
    </tr>
    <tr>
      <td>Billing Cycle</td>
      <td>{{ workingContract.billingCycle }}</td>
      <td *ngFor="let c of resultContracts">{{ c.billingCycle }}</td>
    </tr>
    <tr>
      <td>Variable Payment</td>
      <td>{{ workingContract.variablePayment | yesNo }}
      </td>
      <td *ngFor="let c of resultContracts">{{ c.variablePayment | yesNo }}
      </td>
    </tr>
    <tr>
      <td>Document Profile</td>
      <td>{{ workingContract.documentProfileName }}
          <input type="radio" name="rdbConDocumentProfile" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChangedMul(workingContract,['documentProfileId', 'documentProfileName'])">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.documentProfileName }}
        <input type="radio" name="rdbConDocumentProfile" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChangedMul(c,['documentProfileId', 'documentProfileName'])">
      </td>
    </tr>
    <tr>
      <td>Total Finance Amount</td>
      <td>{{ workingContract.totalFinanceAmount | currency }}</td>
      <td *ngFor="let c of resultContracts">{{ c.totalFinanceAmount | currency }}</td>
    </tr>
    <tr>
      <td>PO</td>
      <td>{{ workingContract.purchaseOrderNum }}</td>
      <td *ngFor="let c of resultContracts">{{ c.purchaseOrderNum }}</td>
    </tr>
    <tr>
      <td>PO Infolease Flag</td>
      <td>{{ workingContract.POInfoleaseFlag | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.POInfoleaseFlag | yesNo }}</td>
    </tr>
    <tr>
      <td>EOT Option</td>
      <td>{{ workingContract.endOfTermOptionDesc }}</td>
      <td *ngFor="let c of resultContracts">{{ c.endOfTermOptionDesc }}</td>
    </tr>
    <tr>
      <td>Insurance Status</td>
      <td>{{ workingContract.insuranceStatusDesc }}</td>
      <td *ngFor="let c of resultContracts">{{ c.insuranceStatusDesc }}</td>
    </tr>
    <!-- <tr>
      <td>Insurance Code / Change Date</td>
      <td>{{ workingContract.InsuranceCodeChangeDate }}
      </td>
      <td *ngFor="let c of resultContracts">{{ c.InsuranceCodeChangeDate }}
      </td>
    </tr> -->
    <tr>
      <td>Invoice Description</td>
      <td>{{ workingContract.invoiceDescription }}
        <input type="radio" name="rdbConInvoiceDescription" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'invoiceDescription')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.invoiceDescription }}
        <input type="radio" name="rdbConInvoiceDescription" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'invoiceDescription')">
      </td>
    </tr>
    <tr>
      <td>Collateral Code</td>
      <td>{{ workingContract.collateralCodeDesc }}
        <input type="radio" name="rdbConCollateralCode" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChangedMul(workingContract,['collateralCodeId', 'collateralCodeDesc'])">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.collateralCodeDesc }}
        <input type="radio" name="rdbConCollateralCode" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChangedMul(c,['collateralCodeId', 'collateralCodeDesc'])">
      </td>
    </tr>
    <tr>
      <td>Indirect Billing</td>
      <td>{{ workingContract.indirectBillingDesc }}
        <input type="radio" name="rdbConIndirectBilling" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'indirectBilling')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.indirectBillingDesc }}
        <input type="radio" name="rdbConIndirectBilling" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'indirectBilling')">
      </td>
    </tr>
    <tr>
      <td>Invoice Code</td>
      <td>{{ workingContract.invoiceCodeDesc }}
        <input type="radio" name="rdbConInvoiceCode" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChangedMul(workingContract,['invoiceCode', 'invoiceCodeDesc'])">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.invoiceCodeDesc }}
        <input type="radio" name="rdbConInvoiceCode" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChangedMul(c,['invoiceCode', 'invoiceCodeDesc'])">
      </td>
    </tr>
    <tr>
      <td>Late Charge Exempt</td>
      <td>{{ workingContract.lateChargeExempt | yesNo }}
        <input type="radio" name="rdbConLateChargeExempt" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'lateChargeExempt')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.lateChargeExempt | yesNo }}
        <input type="radio" name="rdbConLateChargeExempt" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'lateChargeExempt')">
      </td>
    </tr>
    <tr>
      <td>Late Charge % of Pmt</td>
      <td>{{ workingContract.LateChargePercofPmt }}
        <input type="radio" name="rdbConLateChargePercofPmt" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'LateChargePercofPmt')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.LateChargePercofPmt }}
        <input type="radio" name="rdbConLateChargePercofPmt" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'LateChargePercofPmt')">
      </td>
    </tr>
    <tr>
      <td>Lead Days</td>
      <td>{{ workingContract.leadDays }}
        <input type="radio" name="rdbConLeadDays" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'leadDays')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.leadDays }}
        <input type="radio" name="rdbConLeadDays" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'leadDays')">
      </td>
    </tr>
    <tr>
      <td>Grace Period</td>
      <td>{{ workingContract.gracePeriod }}
        <input type="radio" name="rdbConGracePeriod" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'gracePeriod')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.gracePeriod }}
        <input type="radio" name="rdbConGracePeriod" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'gracePeriod')">
      </td>
    </tr>
    <tr>
      <td>Minimum Late Charge ($)</td>
      <td>{{ workingContract.lateChargeMin }}
        <input type="radio" name="rdbConMinimumLateCharge" class="checkbox" *ngIf="showCheckBoxes" 
        checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'lateChargeMin')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.lateChargeMin }}
        <input type="radio" name="rdbConMinimumLateCharge" class="checkbox" *ngIf="showCheckBoxes" 
        [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'lateChargeMin')">
      </td>
    </tr>
    <tr>
      <td>Maximum Late Charge ($)</td>
      <td>{{ workingContract.lateChargeMax }}
          <input type="radio" name="rdbConMaximumLateCharge" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'lateChargeMax')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.lateChargeMax }}
          <input type="radio" name="rdbConMaximumLateCharge" class="checkbox" *ngIf="showCheckBoxes" 
          [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'lateChargeMax')">
      </td>
    </tr>
    <tr>
      <td>Securitization Code</td>
      <td>{{ workingContract.securitizationCode }}</td>
      <td *ngFor="let c of resultContracts">{{ c.securitizationCode }}</td>
    </tr>
    <tr>
      <td>Permanent Exclusion Reason</td>
      <td>{{ workingContract.PermanentExclusionReason }}</td>
      <td *ngFor="let c of resultContracts">{{ c.PermanentExclusionReason }}</td>
    </tr>
    <tr>
      <td>Vendor Contract ID</td>
      <td>{{ workingContract.VendorContractID }}
          <input type="radio" name="rdbConVendorContractID" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'VendorContractID')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.VendorContractID }}
          <input type="radio" name="rdbConVendorContractID" class="checkbox" *ngIf="showCheckBoxes" 
          [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'VendorContractID')">
      </td>
    </tr>
    <tr>
      <td>Vendor Customer ID</td>
      <td>{{ workingContract.vendorCustomerNumber }}
          <input type="radio" name="rdbConVendorCustomerID" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'vendorCustomerNumber')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.vendorCustomerNumber }}
          <input type="radio" name="rdbConVendorCustomerID" class="checkbox" *ngIf="showCheckBoxes" 
          [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'vendorCustomerNumber')">
      </td>
    </tr>
    <tr>
      <td>Renewal Term</td>
      <td>{{ workingContract.renewalTermLength }}
          <input type="radio" name="rdbConRenewalTerm" class="checkbox" *ngIf="showCheckBoxes" 
          checked="checked" [checked]="checkIfSelected(workingContract)" (change)="propertyChanged(workingContract,'renewalTermLength')">
      </td>
      <td *ngFor="let c of resultContracts">{{ c.renewalTermLength }}
          <input type="radio" name="rdbConRenewalTerm" class="checkbox" *ngIf="showCheckBoxes"
           [checked]="checkIfSelected(c)" (change)="propertyChanged(c,'renewalTermLength')">
      </td>
    </tr>
    <tr>
      <td>Booked Date</td>
      <td>{{ workingContract.bookingDate }}</td>
      <td *ngFor="let c of resultContracts">{{ c.bookingDate }}</td>
    </tr>
    <tr>
      <td>Invoice Exception</td>
      <td>{{ workingContract.invoiceExceptionBin }}</td>
      <td *ngFor="let c of resultContracts">{{ c.invoiceExceptionBin }}</td>
    </tr>
    <tr>
      <td>CMT Comments</td>
      <td>{{ workingContract.CMTComments }}</td>
      <td *ngFor="let c of resultContracts">{{ c.CMTComments }}</td>
    </tr>
    <tr>
      <td>ACH Code</td>
      <td>{{ workingContract.achCode | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.achCode | yesNo }}</td>
    </tr>
    <tr>
      <td>Asset Detail</td>
      <td>{{ workingContract.AssetDetail | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.AssetDetail | yesNo }}</td>
    </tr>
    <tr>
      <td>Asset Level Billing</td>
      <td>{{ workingContract.AssetLevelBilling | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.AssetLevelBilling | yesNo }}</td>
    </tr>
    <tr>
      <td>Consolidated</td>
      <td>{{ workingContract.Consolidated | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.Consolidated | yesNo }}</td>
    </tr>
    <tr>
      <td>Current Only</td>
      <td>{{ workingContract.CurrentOnly | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.CurrentOnly | yesNo }}</td>
    </tr>
    <tr>
      <td>Electronic Invoice</td>
      <td>{{ workingContract.ElectronicInvoice | yesNo }}</td>
      <td *ngFor="let c of resultContracts">{{ c.ElectronicInvoice | yesNo }}</td>
    </tr>
  </table>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm" (click)="sendContractData()">SEND CONTRACT DATA</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm" (click)="sendContractAssetData()">SEND CONTRACT AND ASSET DATA</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm" (click)="clearAllSelections()" >CLEAR CONTRACT DATA SELECTIONS</button>
    </div>
  </div>
</div>