<div class="container-fluid freezediv">
  <h2 class="text-primary" mat-dialog-title>{{description}}</h2>
  <h6>Asset Count: {{ this.allcontractsAssets ? this.allcontractsAssets.length : 0 }}</h6>
  <mat-dialog-content>
    <div *ngFor="let a of allcontractsAssets" class="row">
      <cts-asset-card [assetdata]="a" [noHeader]="true"></cts-asset-card>
    </div>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions *ngIf="!hideActions">
    <button class="button btn btn-sm btn-success" (click)="accept()"><span class="fas fa-check-circle"></span><span>&nbsp;PROCESS DATA TRANSFER</span></button>
    <button class="button btn btn-sm btn-danger" (click)="cancel()"><span class=" fas fa-times-circle"></span><span>&nbsp;CANCEL DATA TRANSFER</span></button>
  </mat-dialog-actions>
</div>