<div class="container-fluid text-left border paddedLg">
  <div class="row">
    <div class="col-md-12">
      <h5>Search by Application ID / CCAN / Dealer ID</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Application ID:</div>
    <div class="col-md-3"><input type="text" [(ngModel)]="searchparams.appid"></div>
    <div class="col-md-3"><button class="btn btn-primary btn-sm" (click)="onappidsearchclick()">SEARCH</button></div>
  </div>
  <div class="row">
    <div class="col-md-2">CCAN:</div>
    <div class="col-md-3"><input type="text" [(ngModel)]="searchparams.ccan"></div>
    <div class="col-md-3">Incl. Disposed Contracts?:&nbsp;
      <select name="" id="" [(ngModel)]="searchparams.incldc">
        <option value="no" selected="selected">No</option>
        <option value="yes">Yes</option>
      </select>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm">SEARCH ALL DEALERS</button>
      <button class="btn btn-secondary btn-sm" (click)="showDealerList = !showDealerList">
        {{ showDealerList ? "HIDE" : "DISPLAY" }} LIST OF DEALERS
      </button>
    </div>
  </div>
  <div class="row" *ngIf="showDealerList">
    <div class="col-md-2">Dealer(s)</div>
    <div class="col-md-3">
      <!-- <select name="ddlDealers" id="ddlDealers" class="select sel-min-w" ></select> -->
      <ng-multiselect-dropdown
  [placeholder]="'not selected'"
  [data]="dealerlist"
  [(ngModel)]="searchparams.dealers"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>
    </div>
    <div class="col-md-3"><button class="btn btn-primary btn-sm">SEARCH</button></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-danger btn-sm" (click)="clearsearch()">CLEAR SEARCH OPTIONS</button>
    </div>
  </div>
</div>